.wrapper {
  padding-top: 10px;
  height: 100%;
  width: 85%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  margin-left: 50px;
  color: #6eaeda;
}
